.categories {
    display: flex;
    width: 100%;
    padding: 12px 24px;
    align-items: flex-start;
    gap: 8px;
    box-sizing: border-box;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
}

.item, .active {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    border: none;
    border-radius: 32px;
    background-color: #f2f4f5;
}

.active {
    background-color: #e7e7ff;
    color: #6b4eff
}

.item {
    cursor: pointer;
}

::-webkit-scrollbar {
    display: none;
}